{% extends 'base.html' %}
{% block content %}
<link href="/static/style.css" rel="stylesheet" />
<h1 class="mybox text-center p-3">Adventure Books</h1>
<div class="row mybox2 text-center">
{% for n1 in adventurebook_list %}
<div class="col-sm-3">
<div class="card">
    <img class="card-img-top img-fluid size3" src="/media/{{n1.image}}">
    <div class="card-body">
        <h4 class="card-title">{{n1.bookname}}</h4>
        <p class="card-text">{{n1.author}}</p>
		<a class="btn btn-primary" href='/Bookish/adventure/{{n1.id}}'>Read More</a>
    </div>
</div>
</div>
{% endfor %}
</div>
{% endblock %}
