{% extends 'base.html' %}
{% block content %}

<div class="card float" style="width: 18rem;">
  <img src="/static/images/fiction.jpg" class="card-img-top size" alt="...">
  <div class="card-body">
    <a href="/Bookish/fiction" class="btn btn-primary">Fiction</a>
  </div>
</div>
<div class="card" style="width: 18rem;">
  <img src="/static/images/nonfic.png" class="card-img-top size" alt="...">
  <div class="card-body">
   <a href="/Bookish/nonfiction" class="btn btn-primary">Non Fiction</a>
  </div>
</div>
{% endblock %}