{% extends 'base.html' %}
{% block content %}
<div class="card float" style="width: 18rem;">
  <img src="/static/images/fiction.jpg" class="card-img-top size" alt="Thrillers">
  <div class="card-body">
    <a href="/Bookish/thriller/" class="btn btn-primary">Thrillers</a>
  </div>
</div>
<div class="card" style="width: 18rem;">
  <img src="/static/images/nonfic.png" class="card-img-top size" alt="Adventures Books">
  <div class="card-body">
   <a href="/Bookish/adventure/" class="btn btn-primary">Adventures Books</a>
  </div>
</div>
{% endblock %}