
{% extends 'base.html' %}
{% block content %} 

<div id="carouselExampleIndicators" class="container-fluid carousel slide isize1" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
  </ol>
  <div class="carousel-inner ">
    <div class="carousel-item active">
      <img src="/static/images/879.jpg" class="d-block w-100 isize" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/static/images/12.jpg" class="d-block w-100 isize" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/static/images/a.jpg" class="d-block w-100 isize" alt="...">
    </div>
     <div class="carousel-item">
      <img src="/static/images/plk.jpg" class="d-block w-100 isize" alt="...">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<br>
<h1>Trending Books</h1>
<div class="flip-card float">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <img src="/static/images/b1.jpg" alt="Avatar" style="width:240px;height:300px;">
    </div>
    <div class="flip-card-back">
      <h3>Gone Girl</h3> 
      <p>by Gillian Flynn</p> 
      
    </div>
  </div>
</div>
<div class="flip-card float">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <img src="/static/images/b1.jpg" alt="Avatar" style="width:240px;height:300px;">
    </div>
    <div class="flip-card-back">
      <h3>Gone Girl</h3> 
      <p>by Gillian Flynn</p> 
      
    </div>
  </div>
</div>
<div class="flip-card float">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <img src="/static/images/b1.jpg" alt="Avatar" style="width:240px;height:300px;">
    </div>
    <div class="flip-card-back">
      <h3>Gone Girl</h3> 
      <p>by Gillian Flynn</p> 
      
    </div>
  </div>
</div>
<div class="flip-card float">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <img src="/static/images/b1.jpg" alt="Avatar" style="width:240px;height:300px;">
    </div>
    <div class="flip-card-back">
      <h3>Gone Girl</h3> 
      <p>by Gillian Flynn</p> 
      
    </div>
  </div>
</div>
<div class="flip-card float">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <img src="/static/images/b1.jpg" alt="Avatar" style="width:240px;height:300px;">
    </div>
    <div class="flip-card-back">
      <h3>Gone Girl</h3> 
      <p>by Gillian Flynn</p> 
      
    </div>
  </div>
</div>
<div class="flip-card float">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <img src="/static/images/b1.jpg" alt="Avatar" style="width:240px;height:300px;">
    </div>
    <div class="flip-card-back">
      <h3>Gone Girl</h3> 
      <p>by Gillian Flynn</p> 
      
    </div>
  </div>
</div>



 {% endblock %}
