<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<div class="container">
<h1>Search Books Here</h1>
<form method="post" action="/search/">
   {% csrf_token %}
   <div class="form-group">
       <div class="col-lg-5">
    <input type="text" name="srh" class="form-control" placeholder="Enter Name Or Author">
       </div>
    <label class="col-lg-2">
    <button type="submit" class="btn btn-danger">Search</button>
    </label>
   </div>
</form><br><br>
</div>
</body>
</html>