{% extends 'base.html' %}
{% block content %}
<h1 class="mybox text-center p-3">Thriller Books</h1>
<hr>
<form class="form-inline">
<input class="form-control" placeholder="Search" value="{{ request.GET.si }}" type="text" name="si" />
<input class="btn btn-dark mx-3" type="submit" />
</form>
<br>
<div class="row mybox2 text-center p-5">
{% for n1 in thrillerbooks_list %}
<div class="col-sm-4 mb-3">
<div class="card mycard h-100 ">
    <img class="card-img-top img-fluid" src="/media/{{n1.image}}">
    <div class="card-body">
        <h4 class="card-title">{{n1.bookname}}</h4>
        <p class="card-text">{{n1.author}}</p>
		<a class="btn btn-primary" href='/Bookish/thriller/{{n1.id}}'>Read More</a>
    </div>
</div>
</div>
{% endfor %}
</div>
{% endblock %}
