{% extends 'base.html' %}
{% block content %}
<div class="row mybox2 p-5">
<div class="col-sm-8 offset-sm-2">
	<h1>{{thrillerbooks.bookname}}</h1>
	<hr>
	<p><strong>Description :: </strong>{{ thrillerbooks.description }}</p>
	<a class="btn btn-primary" href='{{thriller.link}}'>Read Full</a><br><br>
	<a class="btn btn-dark" href="/Bookish/thriller/">Back</a>
</div>
</div>
{% endblock %}