<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<link href="/static/style.css" rel="stylesheet" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<meta charset="ISO-8859-1">


<title>BukWuk.com</title>

</head>
<body>
<div class="fix">

<nav class="navbar navbar-expand-lg op">

 <a class="navbar-brand red right " id="mouseTarget" href="/Bookish/index">BukWuk.com</a>

 
 <form class="form-inline my-2 my-lg-0 right1">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button>
    </form>
    {% if user.is_authenticated %}
	<a href="/accounts/logout">Logout</a>
	{% else %}
	<button><a href="/accounts/login">Login</a></button>
	<button><a href="/accounts/register">Register</a></button>
	{% endif %}

</nav>

<nav class="navbar navbar-expand-lg op1">

<div class="btn-group mar">
  <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Categories
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="/Bookish/fiction">Fiction</a>
    <a class="dropdown-item" href="/Bookish/nonfiction">Non fiction</a>
    <a class="dropdown-item" href="#">Adventures</a>
    <div class="dropdown-divider"></div>
   </div>
</div>
<div class="btn-group  mar">
  <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Novels
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="#">Fiction</a>
    <a class="dropdown-item" href="#">Non fiction</a>
    <a class="dropdown-item" href="#">Something else here</a>
    <div class="dropdown-divider"></div>
    </div>
</div>

<div class="btn-group mar">
  <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    CSVTU
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="#">CSE & IT</a>
    <a class="dropdown-item" href="#">CIVIL</a>
    <a class="dropdown-item" href="#">ET & T</a>
    <a class="dropdown-item" href="#">MECHANICAL</a>
    <a class="dropdown-item" href="#">EEE</a>
    <a class="dropdown-item" href="#">EE</a>
    
     </div>
</div>

<div class="btn-group mar">
  <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    GATE
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="#">CSE & IT</a>
    <a class="dropdown-item" href="#">CIVIL</a>
    <a class="dropdown-item" href="#">ET & T</a>
    <a class="dropdown-item" href="#">MECHANICAL</a>
    <a class="dropdown-item" href="#">EEE</a>
    <a class="dropdown-item" href="#">EE</a>
    
     </div>
</div>

<div class="btn-group mar">
  <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    UPSC
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="#">type 1</a>
    <a class="dropdown-item" href="#">type 1</a>
  </div>
</div>
<div class="btn-group mar">
  <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    QUIZ
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="/Bookish/quiz">BukWuk QUIZ</a>
  </div>
</div>
</nav>
</div> 
<div id="navbar">
  <a href="/Bookish/home/">Home</a>
  <a href="/Bookish/about">About</a>
  <a href="/Bookish/contact">Contact</a>
</div> 


<div class="footer">
  <p>Footer</p>
</div>
<script src="/static/script.js" type="text/javascript">

</script> 
{% block content %}
{% endblock %} 
	    
</body>
</html>