@charset "ISO-8859-1";
@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}
@media only screen and (max-width:800px) {
  /* For tablets: */
  .main {
    width: 80%;
    padding: 0;
  }
  .right {
    width: 100%;
  }
}
@media only screen and (max-width:500px) {
  /* For mobile phones: */
  .menu, .main, .right {
    width: 100%;
  }
}

.fix{
  position: sticky;
  top: 0;
  z-index:99;
}

.red{
text-decoration:none;
color:white;
}
.right{
	margin-right:63%;
	
}
p{
	color:white;
}
.right1{
	margin-right:2.5%;
	
}
.whit{
	color:#d7d7d7;
}
.op{
	
	background-color:#000000d9;
	
}
p{
	color:black;
}
.op1{
	
	background-color:#000000bf;
}
.op2{
	
	background-color:#00000066;
	margin:.4%;
	height:100%;
}
.op3{
	
	opacity:.7;
	
}

.videoBG {
    left: 0;
        top: 0;
        position: fixed;
        width: 100%;
        z-index: 1;
    right:0;
    bottom:0;
    min-width:100%;
    min-height:100%;
    z-index:-1;
}
@media (min-aspect-ratio:16/9)
{
	.videoBG{
	width:100%;
	height:auto;
	}
}
@media (max-aspect-ratio:16/9)
{
	.videoBG{
	width:auto;
	height:100%;
	}
}
#mybtn{
    position: absolute;
    left: 35%;
    width: 30%;
    top: 40%;
    font-size: 50px;
    font-weight: bolder;
    background-color: #00000088;
    box-shadow: 4px 4px 4px white;
    transition: 1s;
}
#mybtn:hover{
    transform: scale(1.23);
}
#mybtn1{
    position: absolute;
    left: 12%;
    width: 30%;
    top: 40%;
    font-size: 50px;
    font-weight: bolder;
    background-color: #00000088;
    box-shadow: 4px 4px 4px white;
    transition: 1s;
}

#mybtn2{
    position: absolute;
    left: 60%;
    width: 30%;
    top: 40%;
    font-size: 50px;
    font-weight: bolder;
    background-color: #00000088;
    box-shadow: 4px 4px 4px white;
    transition: 1s;
}

#mybtn1:hover{
    transform: scale(1.23);
}
#mybtn2:hover{
    transform: scale(1.23);
}
.float{
	float:left;
	margin-right:.5%;
}
.size{
	height:300px;
	width:200px;
}
.size3{
	height:500px;
	width:auto;
	margin:0.2%;
}
.mar1{
	margin:.5%;
}
.mar{
	margin-right:.5%;
}
.mar2{
	
	margin-top:.8%;
}
.imgs{
	align:center;
	height:600px;
	width:700px;
}
#navbar {
  background-color: #000000d9;
  position: fixed;
  top: -50px;
  z-index:999999;
  display: block;
  transition:  3s;
  width:100%;
}

#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  padding:10px;
  
}

#navbar a:hover {
  background-color: #ddd;
  color: black;
}

.bold{
	font-size: 150%;
}
.size3{
	height:250px;
	width:230px;
	align:center;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #000000d9;
  color: white;
  text-align: center;
}
.isize{
	width:700px;
	height:500px;
}
